.blog-page-title {
    font-size: 4.4rem;
    font-family: Roboto;
    font-weight: bold;
    border-bottom: 1px solid black;
    width: 100vw;
    margin-left: -50vw;
    position: relative;
    left: 50%;
    text-align: center;
  }
  
  .blog-container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 1rem;
  }
  
  .blog-posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1.5rem;
  }
  
  .blog-post {
    background-color: #fff;
    border: 1px solid #e1e1e1;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .blog-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
  }
  
  .blog-post-date {
    font-size: 0.9rem;
    color: #666;
  }
  

  .blog-post-content {
    margin: 10px 0;
  }


  .blog-post h2 {
    font-size: 2rem;
    margin: 1rem 0;
  }
  
  .blog-post p {
    font-size: 1.3rem;
    color: #555;
  }
  
  .read-more-button {
    color: black;
    font-size: 1.7rem;
    border: 1px solid black;
    text-decoration: none;
    padding: .3rem 1.5rem;
    margin-left: 4rem;
  }
  
  .read-more-button:hover {
    color: white;
    cursor: pointer;
    background-color: black;
  }
  
  .blog-post-content {
    font-size: 1rem;
    color: #333;
    line-height: 1.6;
  }

/* Modal Styles */
.post-title {
  border-bottom: 1px black solid;
  text-align: center;
  font-family: Roboto;
}

.post-date {
  text-align: center;
  font-family: Roboto;
  font-size: 1.1rem;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 190%; /* Take up 90% of the screen width */
  max-width: 3000px; /* Optionally set a max-width for very large screens */
  overflow-y: auto;
  position: relative;
  max-height: 90%;
  font-family: 'Arial', sans-serif;
  font-size: 2.4rem;
  line-height: 1.6;
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2rem;
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
}

.modal-close-button:hover {
  color: #ff0000;
}

.post-author {
  text-align: center;
  font-size: 1.7rem;
  font-family: Roboto;
}
